.container {
  margin: 0 auto;
}

table {
  margin: 0 auto;
  width: 100%;
  padding: 5%;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;

}

#page-numbers {
  list-style: none;
}

#page-numbers{
  cursor: pointer;
}

.pagination{
    font-size:20px;
    border: 1px solid #ddd; /* Gray */
    text-align: center;
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination.active {
    background-color: #4786ed;
    color: white;
}

.pagination:hover:not(.active) {background-color: #ddd;}

thead {
    background-color: #4786ed;
    color: white;
    font-weight: bold;
}

tr:nth-child(even) {background-color: #dddddd}
